In [2]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format #turn off scientific notation
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [10]:


#read unemployment data 
file = "resources/Local_Area_Unemployment_Statistics__LAUS___Annual_Average copy.csv" 
unemp_df = pd.read_csv(file) 
unemp_df.head()

,Area Type,Area Name,Year,Period,Labor Force,Employment,Unemployment,Unemployment Rate,Seasonally Adjusted (Y N),Status,Unnamed: 10
0,County,Alameda County,1990,Annual,677400,649900,27500,4.10,N,Final,nan
1,County,Alameda County,1991,Annual,671800,635500,36300,5.40,N,Final,nan
2,County,Alameda County,1992,Annual,677400,633100,44300,6.50,N,Final,nan
3,County,Alameda County,1993,Annual,678100,633000,45100,6.60,N,Final,nan
4,County,Alameda County,1994,Annual,679900,638200,41600,6.10,N,Final,nan

In [11]:
unemp_clean_df = unemp_df.loc[(unemp_df["Area Name"] == "Los Angeles County") | 
                            (unemp_df["Area Name"] == "Fresno County") |
                            (unemp_df["Area Name"] == "San Francisco County") |
                            (unemp_df["Area Name"] == "Shasta County"), :]

unemp_clean_df.head()

,Area Type,Area Name,Year,Period,Labor Force,Employment,Unemployment,Unemployment Rate,Seasonally Adjusted (Y N),Status,Unnamed: 10
406,County,Fresno County,1990,Annual,328700,290400,38300,11.60,N,Final,nan
407,County,Fresno County,1991,Annual,336800,291800,45000,13.40,N,Final,nan
408,County,Fresno County,1992,Annual,352600,298100,54600,15.50,N,Final,nan
409,County,Fresno County,1993,Annual,361700,306000,55800,15.40,N,Final,nan
410,County,Fresno County,1994,Annual,356200,305400,50700,14.20,N,Final,nan