In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format #turn off scientific notation
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

## Read zillow Data

In [2]:
#read Zillow 3 bedroom data by county into pandas dataframe 
file = "resources/County_Zhvi_3bedroom.csv" 
zillow_df = pd.read_csv(file, encoding = "latin-1") 
zillow_df.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2008-01,2008-02,2008-03,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,3101,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,nan,nan,nan,...,600754.33,599393.33,599503.33,600387.00,602727.33,600822.00,600501.67,601233.00,605862.00,609034.00
1,139,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,nan,nan,nan,...,226143.33,227082.67,228167.00,228926.67,228869.67,228349.67,227408.00,226548.33,225984.67,225928.67
2,1090,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,124604.00,124348.50,124172.33,...,173528.00,173910.33,173899.00,173980.00,174518.00,175041.00,175728.00,176058.33,176914.00,177541.00
3,2402,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,nan,nan,nan,...,260194.00,261705.00,262585.67,263689.00,264876.67,266422.33,268442.00,270188.67,272057.67,273468.67
4,2841,San Diego County,CA,San Diego-Carlsbad,6,73,5,415019.00,410783.00,406752.67,...,561999.67,561455.00,563480.33,564365.67,566461.00,568930.33,571215.67,571894.67,573083.00,575533.33

## Filter Zillow Data for 4 counties and save output

In [3]:
#keep all rows of the following counties:  Shasta County, Los Angeles County, San Francisco County, Fresno County

zillow_df = zillow_df.loc[(zillow_df["RegionName"] == "Los Angeles County") | 
                            (zillow_df["RegionName"] == "Fresno County") |
                            (zillow_df["RegionName"] == "San Francisco County") |
                            (zillow_df["RegionName"] == "Shasta County"), :]

#use .copy() to avoid SettingWithCopyWarning warning
#save region column to new table
zillow_clean_df= zillow_df[["RegionName"]].copy()

#Calc average yearly price from 2014 - 2018 of
zillow_clean_df["2014 Avg Price"] = zillow_df.loc[:,"2014-01":"2014-12"].mean(axis=1)
zillow_clean_df["2015 Avg Price"] = zillow_df.loc[:,"2015-01":"2015-12"].mean(axis=1)
zillow_clean_df["2016 Avg Price"] = zillow_df.loc[:,"2016-01":"2016-12"].mean(axis=1)
zillow_clean_df["2017 Avg Price"] = zillow_df.loc[:,"2017-01":"2017-12"].mean(axis=1)
zillow_clean_df["2018 Avg Price"] = zillow_df.loc[:,"2018-01":"2018-12"].mean(axis=1)

zillow_clean_df.to_csv("output files/zillow_clean_df.csv")
zillow_clean_df.head()

,RegionName,2014 Avg Price,2015 Avg Price,2016 Avg Price,2017 Avg Price,2018 Avg Price
0,Los Angeles County,456951.25,482374.33,518062.94,555362.75,596094.53
44,Fresno County,180313.22,191649.06,203774.64,220687.50,238799.28
64,San Francisco County,1194854.92,1292884.22,1388945.64,1471771.03,1620575.75
342,Shasta County,202065.47,216334.31,226238.28,241436.89,253039.00

In [4]:
#reset index to Region and transpose dataframe
zillow_clean_df.set_index("RegionName", inplace = True)
zillow_clean_df = zillow_clean_df.transpose()
zillow_clean_df.head()

RegionName,Los Angeles County,Fresno County,San Francisco County,Shasta County
2014 Avg Price,456951.25,180313.22,1194854.92,202065.47
2015 Avg Price,482374.33,191649.06,1292884.22,216334.31
2016 Avg Price,518062.94,203774.64,1388945.64,226238.28
2017 Avg Price,555362.75,220687.50,1471771.03,241436.89
2018 Avg Price,596094.53,238799.28,1620575.75,253039.00

## Income Data from 2014 - 2018

In [5]:
#Data from https://www.bea.gov/system/files/2019-11/lapi1119.pdf. 
#Data from https://www.bea.gov/system/files/2018-02/lapi1116.pdf
#I'm having issues reading the excel version of data, so entering by hand  

income_df = pd.DataFrame({"RegionName":["Los Angeles County", "Fresno County", "San Francisco County", "Shasta County"],
                         "2014 Income":[50730, 36448, 97498, 38410],
                         "2015 Income":[53521, 38323, 103529, 40882],
                         "2016 Income":[57127, 40327, 114697, 43412],
                         "2017 Income":[59058, 41137, 121778, 44480],
                         "2018 Income":[62224, 43084, 130696, 46582]
                         })

income_df.set_index("RegionName", inplace=True)
income_df = income_df.transpose()
income_df.to_csv("output files/income_df.csv")
income_df.head()

RegionName,Los Angeles County,Fresno County,San Francisco County,Shasta County
2014 Income,50730,36448,97498,38410
2015 Income,53521,38323,103529,40882
2016 Income,57127,40327,114697,43412
2017 Income,59058,41137,121778,44480
2018 Income,62224,43084,130696,46582

## Rental Data Cleaning (Shayzee)

In [14]:
rentaldata_df = pd.read_excel('resources/County_MedianRentalPrice_3Bedroom.xlsx')
rentaldata_df.columns = rentaldata_df.iloc[0]
rentaldata_df.set_index('RegionName', inplace=True)
rentaldata_df.head()

,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
RegionName,,,,,,,,,,,,,,,,,,,,,
RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,NaN,2400,2400,2411,2460,...,3189.50,3145,3200,3206.50,3216.50,3250,3250,3295,3249.50,3225
Cook County,IL,Chicago-Naperville-Elgin,17,31,2,NaN,1695,1650,1695,1595,...,1900,1995,2100,2200,2200,2100,2000,1950,1895,1850
Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,NaN,NaN,NaN,NaN,NaN,...,1550,1575,1600,1600,1600,1600,1599,1595,1575,1573.50
Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,NaN,NaN,NaN,NaN,NaN,...,1548,1569,1595,1600,1623,1650,1637.50,1635,1627,1609

In [15]:
selectcounties_df = rentaldata_df.loc[ ['Los Angeles County' , 'San Francisco County', 'Fresno County', 'Shasta County'] , : ]
col2014=selectcounties_df.loc[: , "2014-01":"2014-12"]
selectcounties_df['Average 2014 Rentals'] = col2014.mean(axis=1)
col2015=selectcounties_df.loc[: , "2015-01":"2015-12"]
selectcounties_df['Average 2015 Rentals'] = col2015.mean(axis=1)
col2016=selectcounties_df.loc[: , "2016-01":"2016-12"]
selectcounties_df['Average 2016 Rentals'] = col2016.mean(axis=1)
col2017=selectcounties_df.loc[: , "2017-01":"2017-12"]
selectcounties_df['Average 2017 Rentals'] = col2017.mean(axis=1)
col2018=selectcounties_df.loc[: , "2018-01":"2018-12"]
selectcounties_df['Average 2018 Rentals'] = col2018.mean(axis=1)
selected_counties_years_df=selectcounties_df.loc[:,["Average 2014 Rentals", "Average 2015 Rentals", "Average 2016 Rentals", "Average 2017 Rentals", "Average 2018 Rentals"]]
selected_counties_years_df

,Average 2014 Rentals,Average 2015 Rentals,Average 2016 Rentals,Average 2017 Rentals,Average 2018 Rentals
RegionName,,,,,
Los Angeles County,2376.25,2711.67,2827.50,3020.42,3121.62
San Francisco County,5374.17,5978.54,5685.04,5446.25,5498.58
Fresno County,1106.04,1180.00,1239.58,1337.71,1424.38
Shasta County,1161.25,1243.12,1250.42,1300.42,1390.42

In [17]:
selectcounties_df = rentaldata_df.loc[ ['Los Angeles County' , 'San Francisco County', 'Fresno County', 'Shasta County'] , : ]

col2014=selectcounties_df.loc[: , "2014-01":"2014-12"]
selectcounties_df['Average 2014 Rentals'] = col2014.mean(axis=1)
col2015=selectcounties_df.loc[: , "2015-01":"2015-12"]
selectcounties_df['Average 2015 Rentals'] = col2015.mean(axis=1)
col2016=selectcounties_df.loc[: , "2016-01":"2016-12"]
selectcounties_df['Average 2016 Rentals'] = col2016.mean(axis=1)
col2017=selectcounties_df.loc[: , "2017-01":"2017-12"]
selectcounties_df['Average 2017 Rentals'] = col2017.mean(axis=1)
col2018=selectcounties_df.loc[: , "2018-01":"2018-12"]
selectcounties_df['Average 2018 Rentals'] = col2018.mean(axis=1)
selected_counties_years_df=selectcounties_df.loc[:,["Average 2014 Rentals", "Average 2015 Rentals", "Average 2016 Rentals", "Average 2017 Rentals", "Average 2018 Rentals"]]

selected_counties_years_df_transposed=selected_counties_years_df.transpose()
selected_counties_years_df_transposed
selected_counties_years_df_transposed.to_csv("output files/rentals4counties.csv")
selected_counties_years_df_transposed.head()

RegionName,Los Angeles County,San Francisco County,Fresno County,Shasta County
0,,,,
Average 2014 Rentals,2376.25,5374.17,1106.04,1161.25
Average 2015 Rentals,2711.67,5978.54,1180.00,1243.12
Average 2016 Rentals,2827.50,5685.04,1239.58,1250.42
Average 2017 Rentals,3020.42,5446.25,1337.71,1300.42
Average 2018 Rentals,3121.62,5498.58,1424.38,1390.42

In [ ]:
#plot Shasta income and housing price with 2 y axis
x=[2014, 2015, 2016, 2017, 2018]
y1line = counties1_df.loc[:,"Shasta County"]
y2bar = income_df.loc[:, "Shasta County"]


fig, ax1 = plt.subplots(figsize=(5,3))

color = 'tab:blue'
ax1.set_xlabel('Years')
ax1.set_ylim(0, 1600000)
ax1.set_ylabel('Housing Prices ($)', color=color)
ax1.set_title('Housing and Income in Shasta County')
ax1.bar(x, y1line, color=color) 
ax1.tick_params(axis='y', labelcolor=color)
ax1.legend(['Shasta County'], facecolor='w')

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
ax2.set_ylim(0, 1600000) #set limit on second axis to same scale as first axis
color = 'tab:red'
ax2.set_ylabel('Income($)', color=color)  # we already handled the x-label with ax1
ax2.plot(x, y2bar, color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.savefig("IncomandHousingPricesinShastaCounty.png")
plt.show()

In [ ]:
#plot LA income and housing price with 2 y axis
x=[2014, 2015, 2016, 2017, 2018]
y1line = counties1_df.loc[:,"Los Angeles County"]
y2bar = income_df.loc[:, "Los Angeles County"]


fig, ax1 = plt.subplots(figsize=(5,3))

color = 'tab:blue'
ax1.set_xlabel('Years')
ax1.set_ylim(0, 1600000)
ax1.set_ylabel('Housing Prices ($)', color=color)
ax1.set_title('Housing and Income in Los Angeles County')
ax1.bar(x, y1line, color=color) 
ax1.tick_params(axis='y', labelcolor=color)
ax1.legend(['Los Angeles County'], facecolor='w')

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
ax2.set_ylim(0, 1600000) #set limit on second axis to same scale as first axis
color = 'tab:red'
ax2.set_ylabel('Income($)', color=color)  # we already handled the x-label with ax1
ax2.plot(x, y2bar, color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.savefig("IncomandHousingPricesinLACounty.png")
plt.show()

#plot SF income and housing price with 2 y axis
fig, ax1 = plt.subplots(figsize=(5,3))


y1line = counties1_df.loc[:,"San Francisco County"]
y2bar = income_df.loc[:, "San Francisco County"]
color = 'tab:blue'
ax1.set_xlabel('Years')
ax1.set_ylabel('Housing Prices ($)', color=color)
ax1.set_title('Housing and Income in San Francisco County')
ax1.bar(x, y1line, color=color) 
ax1.tick_params(axis='y', labelcolor=color)
ax1.legend(['San Francisco County'], facecolor='w')

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
ax2.set_ylim(0, 1600000) #set limit on second axis to same scale as first axis
color = 'tab:red'
ax2.set_ylabel('Income($)', color=color)  # we already handled the x-label with ax1
ax2.plot(x, y2bar, color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.savefig("IncomandHousingPricesinSFCounty.png")
plt.show()

In [ ]:
#plot Fresno income and housing price with 2 y axis
x=[2014, 2015, 2016, 2017, 2018]
y1line = counties1_df.loc[:,"Fresno County"]
y2bar = income_df.loc[:, "Fresno County"]


fig, ax1 = plt.subplots(figsize=(5,3))

color = 'tab:blue'
ax1.set_xlabel('Years')
ax1.set_ylim(0, 1600000)
ax1.set_ylabel('Housing Prices ($)', color=color)
ax1.set_title('Housing and Income in Fresno County')
ax1.bar(x, y1line, color=color) 
ax1.tick_params(axis='y', labelcolor=color)
ax1.legend(['Fresno County'], facecolor='w')

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
ax2.set_ylim(0, 1600000) #set limit on second axis to same scale as first axis
color = 'tab:red'
ax2.set_ylabel('Income($)', color=color)  # we already handled the x-label with ax1
ax2.plot(x, y2bar, color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.savefig("IncomandHousingPricesinFresnoCounty.png")
plt.show()

In [ ]:
#plot Shasta income and housing price with 2 y axis
x=[2014, 2015, 2016, 2017, 2018]
y1line = counties1_df.loc[:,"Shasta County"]
y2bar = income_df.loc[:, "Shasta County"]


fig, ax1 = plt.subplots(figsize=(5,3))

color = 'tab:blue'
ax1.set_xlabel('Years')
ax1.set_ylim(0, 1600000)
ax1.set_ylabel('Housing Prices ($)', color=color)
ax1.set_title('Housing and Income in Shasta County')
ax1.bar(x, y1line, color=color) 
ax1.tick_params(axis='y', labelcolor=color)
ax1.legend(['Shasta County'], facecolor='w')

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
ax2.set_ylim(0, 1600000) #set limit on second axis to same scale as first axis
color = 'tab:red'
ax2.set_ylabel('Income($)', color=color)  # we already handled the x-label with ax1
ax2.plot(x, y2bar, color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.savefig("IncomandHousingPricesinShastaCounty.png")
plt.show()